@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NodeApp.HttpServer.Models.ChangePasswordModel

<h4>@Localizer["Title"]</h4>
<hr />
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">@Localizer["Old"]</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Localizer["New"]</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Localizer["Repeat"]</label>
                            <input asp-for="RepeatPassword" class="form-control" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="@Localizer["Exec"]" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>